<!DOCTYPE html>
<main>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Clients</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="col-md d-flex justify-content-end">
        <nav class="col-12">
            <div class="row">
                <div class="col-md text-left text-capitalize">
                    <h1>Welcome, Agent {{user.first_name}}!</h1>
                </div>
                <div>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </nav>
    </div>
    <form action="/pick/{{pick.user_id}}" method="POST"></form>
        <div class="col-8 p-5">
                <div>
                    <h1>Client - {{pick.name}}</h1>
                </div>
                <div>
                    <label>Number: {{pick.number}} </label>
                </div>
                <div>
                    <label>Bet-Size: {{pick.bet}}</label>
                </div>
                <div>
                    <label>Record: {{pick.record}}</label>
                </div>
                <div>
                    <label>Added By: {{user.first_name}}</label>
                </div>
                    <a href="/dashboard" class="btn btn-primary">Return to all Clients</a>
            </div>
                
    </form>
</body>
</main>
</html>